	#injected_clock {
    	background:black;
        color:white;
        display:flex;
        align-items:center;
        justify-content: center;
        padding:1rem;
        width:18rem;
        font-size:1.5rem;        
        position:absolute;
        top: 0px;
        right: 0px;
		z-index:1;
  }

